flows (1).json
[{"id":"630cedc9.342934","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9efbb4e7.d54db8","type":"debug","z":"630cedc9.342934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":475,"y":200,"wires":[],"l":false},{"id":"fd1f3a89.5d6588","type":"watson-discovery-v1","z":"630cedc9.342934","name":"News","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/ccc6b7b5-4f18-4fde-a26a-a19fb68cc36c","x":275,"y":260,"wires":[["11fc96e5.1e55e9"]],"l":false},{"id":"11fc96e5.1e55e9","type":"function","z":"630cedc9.342934","name":"","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":260,"wires":[["9efbb4e7.d54db8","8f1176a9.c6e968","a032c39e.73c3c","4593d8c1.2c9208","b19553c3.98e5a","4542041a.9a858c"]],"l":false},{"id":"dd65d9.7ca21a28","type":"function","z":"630cedc9.342934","name":"process the query","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":175,"y":260,"wires":[["fd1f3a89.5d6588","c85bd2a0.96ab1"]],"l":false},{"id":"d9a93f21.6f007","type":"ui_form","z":"630cedc9.342934","name":"","label":"","group":"36b68bac.0d2964","order":1,"width":"10","height":"4","options":[{"label":"search for news","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["dd65d9.7ca21a28"]]},{"id":"8f1176a9.c6e968","type":"ui_text","z":"630cedc9.342934","group":"36b68bac.0d2964","order":3,"width":"10","height":"4","name":"","label":"Search Result","format":"{{msg.payload}}","layout":"col-center","x":580,"y":260,"wires":[]},{"id":"c85bd2a0.96ab1","type":"watson-discovery-v1","z":"630cedc9.342934","d":true,"name":"","environmentname":"","environmentId":"ae6f0507-6784-46f5-ad3c-3170e5a57793","collectionId":"61bc4028-2f92-4914-bc3b-5ff1e20e3d1c","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/ccc6b7b5-4f18-4fde-a26a-a19fb68cc36c","x":280,"y":200,"wires":[["11fc96e5.1e55e9"]]},{"id":"62c60164.f0ecd","type":"function","z":"630cedc9.342934","name":"positive","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":300,"wires":[["ae3ee115.cc8fe"]]},{"id":"ae3ee115.cc8fe","type":"ui_chart","z":"630cedc9.342934","name":"","group":"36b68bac.0d2964","order":3,"width":"3","height":"6","label":"Positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"fetching positive sentiment","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":300,"wires":[[]]},{"id":"cec9d782.3d0978","type":"debug","z":"630cedc9.342934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment","targetType":"msg","x":580,"y":460,"wires":[]},{"id":"a032c39e.73c3c","type":"sentiment","z":"630cedc9.342934","name":"","property":"payload","x":400,"y":320,"wires":[["cec9d782.3d0978","62c60164.f0ecd","a9344aa7.a484f8","b50c06c.0ea67f8"]]},{"id":"4593d8c1.2c9208","type":"function","z":"630cedc9.342934","name":"author","func":"msg.payload=msg.search_results.results[0].auhtor\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["c3e1bc1.6dd054"]]},{"id":"c3e1bc1.6dd054","type":"ui_text","z":"630cedc9.342934","group":"36b68bac.0d2964","order":8,"width":"27","height":"1","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":60,"wires":[]},{"id":"4542041a.9a858c","type":"function","z":"630cedc9.342934","name":"mainpage url","func":"msg.payload=msg.search_results.results[0].mainpageurl\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["157242b9.07814d"]]},{"id":"157242b9.07814d","type":"ui_text","z":"630cedc9.342934","group":"36b68bac.0d2964","order":8,"width":"27","height":"1","name":"","label":"mainpage url","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":140,"wires":[]},{"id":"b19553c3.98e5a","type":"function","z":"630cedc9.342934","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["c05864c9.bdf768"]]},{"id":"c05864c9.bdf768","type":"ui_text","z":"630cedc9.342934","group":"36b68bac.0d2964","order":8,"width":"23","height":"1","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":100,"wires":[]},{"id":"8110ed4d.cba1c","type":"ui_gauge","z":"630cedc9.342934","name":"","group":"36b68bac.0d2964","order":2,"width":"5","height":"5","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":460,"wires":[]},{"id":"b50c06c.0ea67f8","type":"function","z":"630cedc9.342934","name":"sentiment","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["9b39fbbc.246b98","8110ed4d.cba1c"]]},{"id":"a9344aa7.a484f8","type":"function","z":"630cedc9.342934","name":"negative","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["efd2409b.7d645"]]},{"id":"efd2409b.7d645","type":"ui_chart","z":"630cedc9.342934","name":"","group":"36b68bac.0d2964","order":4,"width":"3","height":"6","label":"Negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"fetching negative sentiment","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e05656","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":360,"wires":[[]]},{"id":"9b39fbbc.246b98","type":"ui_chart","z":"630cedc9.342934","name":"","group":"36b68bac.0d2964","order":2,"width":"3","height":"6","label":"sentiment score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Fetching sentiment score","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":420,"wires":[[]]},{"id":"36b68bac.0d2964","type":"ui_group","z":"","name":"News search","tab":"2713efee.37fbd","order":1,"disp":true,"width":"27","collapse":false},{"id":"2713efee.37fbd","type":"ui_tab","z":0,"name":"World Docker","icon":"dashboard","disabled":false,"hidden":false}]